<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ecollege.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" 
		android:theme="@style/ECollegeTheme"
    	android:name="ECollegeApplication">
        <activity android:name="MainActivity"
        		  android:windowSoftInputMode="adjustResize"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="LoginActivity" android:noHistory="true">
		</activity>
		<activity android:name="HomeActivity"></activity>
		<activity android:name="DiscussionsActivity"></activity>
		<activity android:name="CoursesActivity"></activity>
		<activity android:name="PeopleActivity"></activity>
		<activity android:name="ProfileActivity"></activity>
		
		<activity android:name="DiscussionResponseActivity"></activity>
		<activity android:name="DiscussionTopicActivity"></activity>
		<activity android:name="DropboxMessageActivity"></activity>
		<activity android:name="GradeActivity"></activity>
		
    </application>
</manifest>